@import "tailwindcss";



.bg-primary { background-color: #cfcfb0; }
.bg-secondary { background-color: #f0e6d2; }
.brand-red { color: #722323;}
.brand-blue { color: #070147;}
.brand-green { color: #016318; }
.c-red { color: #4A2C2A;}
.c-grey { background-color: #333333;}
.text-textLight { color: #1A2529; }
.text-routes { color: #154D71; }
.bg-accent { background-color: #4CAF50; }
.font-logo { font-family: 'Luxurious Script', sans-serif; }
.font-routes {font-family: 'Average Sans', sans-serif;}

.routes:hover {
    transition: transform 0.3s ease;
    color: #470101;
    transform: scale(1.03);
}

.ham-menu:hover {
    background-color: #f8f3e9;
    color: #470101;
}